.idea

/data/activity_thumb/
/data/afficheimg/
/data/attached/
/data/brandlogo/
/data/gallery_album/
/data/goods_attr_img/
/data/home_Templates/
/data/indeximg/
/data/printer_driver/
/data/seller_templates/
/data/team_img/
/data/verify/
/data/zc_images/
/data/zc_product_images/
/data/zc_title_images/

/images/
/themes/

composer.lock
*.log

