{include file="page_header"}
		<div class="con">

            <section class="goods-evaluation">
                <div class="user-center-1 user-register-1 of-hidden">
                    <section class="product-sequence dis-box">
                        <a href="{url('team')}" class="box-flex a-change fl-click">我的团队</a>
                        <a href="{url('offline_user')}" class="box-flex active fl-click">下线会员</a>
                    </section>
                </div>
            </section>  

			<!--圈列表1-->
			<section class="dis-team-list m-top08">
            <div class="team-info">
            <script id="j-product" type="text/html">
            <%if totalPage > 0%>
            <%each info as key %>
				<ul class="dis-box padding-all b-color-f">
					<li class="drp-header-img">
						<a href="{url('team_detail')}&uid=<%key.user_id%>">
							<div class="user-img"><div class="p-r user-head-img-box-1"><img src="<%if key.headimgurl %><%key.headimgurl%><%else%> {elixir('img/no_image.jpg')} <%/if%>"></div></div>
						</a>
					</li>
					<li class="box-flex">
						<a href="{url('team_detail')}&uid=<%key.user_id%>">
							<div class="com-adm-box pt-05">
								<h4><%key.user_name%></h4>
								<p>加入时间：<%key.reg_time%></p>
							</div>
						</a>
					</li>					
				</ul>

            <%/each%>
            <%else%>
            <div class="no-div-message">
                <i class="iconfont icon-biaoqingleiben"></i>
                <p>亲，此处没有东西～！</p>
            </div>
            <%/if%>
            </script>
            </div>
			</section>
		</div>
        <input type="hidden" name="user_id" value="{$next_id}">
            <!--快捷导航-->
   {include file="no_search_nav"}
                <li>
                     <a href="{url('drp/user/index')}">
                         <i class="iconfont icon-fenxiao"></i>
                         <p>{$custom}中心</p>
                     </a>
                </li>
                <li>
                     <a href="{url('rank_list')}">
                         <i class="iconfont icon-shangchengxitongtubiaozitihuayuanwenjian41"></i>
                         <p>{$custom}排行</p>
                     </a>
                </li>
    {include file="float_nav_footer"}
        {include file="float_nav_footer"}
    <style>.user-img img{width:100%;height:100%;}</style>
        <script>
            var url="{url('offline_user')}";
            var user_id = $("input[name=user_id]").val();
            var infinite = $('.team-info').infinite({url: url, params:'user_id='+user_id, template: 'j-product'});
        </script>
	</body>

</html>